Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ pages/error.php [QSA,L]

#<If "(%{REQUEST_URI} -strmatch '^/admin')">
#    RewriteRule ^/admin admin.php [QSA,L]
#</If>
#<Else>
#    RewriteBase /
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^ index.php [QSA,L]
#</Else>
