*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background: url("../img/fondo-I-sesion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;

	justify-content: center;
	/* display: flex; */
	min-height: 10vh;
	height: 100%;
	padding: 8%;
}
.titulo{
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	color: #336666;
}
.formulario{
	margin: auto;
	/* width: 80%; */
	height: auto;
	background-color: #F3F3F3;
    opacity: 0.88;
	border-radius: 5px;
	padding: 2rem;
	justify-content: space-around;
}
input{
	width: 100%;
	height: auto;
	margin: 0 auto;
    padding-left: 12px;
	margin-bottom: 15px;
	padding: 10px 0;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}
.acceder{
	background: #3399FF;
	color: white;
	margin: 0 auto;
	height: auto;
	padding: 10px 40px;
	border-radius: 10px;
	font-size: 16px;
	opacity: 0.8;
}
.acceder:active{
	transform: scale(1.04);
}
.acceder:hover{
	opacity: 1;
}
