*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
body{
    width: 100%;
    height: 100%;
    padding: 8%;
	background: url("../img/fondo-registro.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
	justify-content: center;
	align-items: center;
}
.titulo-1{
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	color: #336666;
}
.titulo{
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	color: #8a8c8b;
}
.contenedor{
	width: 80%;
	margin: 0 auto;
	background-color: #F3F3F3;
    opacity: 0.86;
	padding: 2rem;
	border-top: solid 3rem #336666;
	box-sizing: border-box;
	height: auto;
	border-radius: 5px;
	justify-content: space-around;
}
.registro{
	background: #00CC33;
	color: white;
	margin: 0 auto;
	height: auto;
	padding: 10px 40px;
	border-radius: 5px;
	font-size: 16px;
	opacity: 0.8;
}
.registro:active{
	transform: scale(1.04);
}
.registro:hover{
	opacity: 1;
}
input{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 10px 0;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}
.seleccionar{
	background: #336666;
	color: white;
	height: auto;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 15px;
}
